.task-main-container {
    background-color: $primary-background-color;
    display: grid;
    grid-template-columns: 66px 1fr;
    grid-template-areas:
        "nav content";
}

.board-container-left {
    grid-area: nav;
    height: 100vh;
    background-color: $nav-background-color;
}

.board-container-right {
    grid-area: content;
    display: flex;
    flex-flow: column;
}