.task-main-container {
    background-color: $primary-background-color;
    display: flex;
    width: 100vw;
}

.board-container-left {
    background-color: $nav-background-color;
    min-height: 100%;
    z-index: 1600;
    display: flex;
}

.board-container-right {
    width: 100%;
    display: flex;
    height: 100vh;
}

.main-app {
    overflow: hidden;
    height: 100%;
    width: 100%;
    // padding: 18px 0px 0px 18px;
    // margin: 18px 0px 0px 18px;
    padding: 18px 0px 0px 20px;
}