.main-activity-container {
    height: 100%;
    overflow-y: auto;
}

.content-table-activity {
    border-collapse: collapse;
    margin: 0 0;
    font-size: 0.9em;
    width: 100%;
    overflow: hidden;
}

.content-table-activity th,
.content-table-activity td {
    padding: 6px 15px;
    line-height: 20px;
}

.content-table-activity tbody {}

.content-table-activity tbody tr {
    height: 55px;
    border-bottom: 1px solid #dddddd;
}

.content-table-activity tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.user-table-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    height: 100%;
}

.table-task-title {
    white-space: nowrap;
}

.table-task-container {
    width: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.table-status-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;

    &>* {
        height: 40px;
        width: 90px;
    }
}

.table-status {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

.table-task-time {
    display: flex;
    align-items: center;
    gap: 5px;
}

.user-assigned-table {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 75%;
    gap: 5px;
    height: 100%;
}

.table-task-time {
    white-space: nowrap;
}

.table-task-timer-td {
    width: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
}