.board-header {
    padding: 16px 30px 0 18px;
    position: relative;
    z-index: 2000;
    // background-color: #1976D2;
}

.board-header-main {}

.board-header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.board-header-left {
    display: flex;
    align-items: center;
    min-width: 100px;
    margin-right: 8px;

    & h1 {
        line-height: 40px;
        border-radius: 4px;


        &:hover {
            box-shadow: 0 1px 0 0 #dcdfec;
            box-shadow: 0 -1px 0 0 #dcdfec;
            box-shadow: -1px 0 0 0 #dcdfec;
            box-shadow: 1px 0 0 0 #dcdfec;
            box-shadow: 0 0 0 1px #dcdfec;
        }
    }


    & .icon-action-btn {
        color: #676879;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 28px;
        height: 28px;
        border-radius: 4px;
        cursor: pointer;
        font-size: 1.3rem;

        &:hover {
            background-color: #dcdfec;
        }

    }
}

.board-title-input-container {
    & .board-title-form {
        & input {
            line-height: 40px;
            border-radius: 4px;
            font-weight: 500;
            border: 1px solid #1976d2;
            font-size: rem(30px)
        }
    }
}

.icon-action-wrapper {
    display: flex;
    margin-inline-start: 10px;
}

.board-header-right {}

.board-header-actions {
    display: flex;
    align-items: center;
    justify-content: space-around;

    & .panel-button {
        all: unset;
        padding: 0px 3px;
        cursor: pointer;
        height: 28px;
        font-weight: 400;
        font-size: 1.142rem;
        width: auto;
        border-radius: 4px;
        text-align: center;

        &:hover {
            background-color: #dcdfec;
        }
    }

    &>*:not(:last-child) {
        margin-inline-end: 20px;
    }
}

.panel-button.board-add {
    border: 1px solid $divider-backgroud-color;
    padding-right: 5px;
}

.ds-menu-side-panel-header {
    height: 28px;
    width: 28px;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
        background-color: #dcdfec;
    }

}

.ds-header-component {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 19px;
    color: #676879;

}

.board-header-actions-v2 {
    padding: 16px 0;
    display: flex;
    align-items: center;
    gap: 15px;

    & .panel-button-v2 {
        display: flex;
        align-items: center;
        all: unset;
        padding: 0px 3px;
        cursor: pointer;
        height: 28px;
        min-width: 60px;
        font-weight: 400;
        font-size: 1.142rem;
        border-radius: 4px;
        text-align: center;

        &:hover {
            background-color: #dcdfec;
        }

        &:focus {
            background-color: $active-button-background-color;
        }
    }
}

.board-subsets-toolbar {}

.board-subsets-tabs {
    display: flex;
}

.board-kanban-item {
    padding-bottom: 4px;

}

.board-kanban-item-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    height: 40px;
    width: 80.875px;
    cursor: pointer;

    & .kanban-nav {
        text-decoration: none;
        padding: 7px 16px;

    }

    &:hover {
        background-color: #dcdfec;
    }

    & span {
        display: flex;
        color: #575757;
        gap: 3px;
    }

    &:focus+.board-kanban-item-line {
        background-color: #1976D2;
        height: 2.4px;
        position: relative;
        top: 4px;
    }

}

.board-subsets-item {
    padding-bottom: 4px;

}

.board-subsets-item {
    &:focus+.board-subsets-item-line {
        background-color: #1976D2;
        height: 2.4px;
        position: relative;
        top: 4px;
    }

    .board-subsets-item-button {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        height: 40px;
        width: 128px;
        cursor: pointer;

        .main-table-nav {
            text-decoration: none;
            padding: 7px 16px;
        }

        &:hover {
            background-color: #dcdfec;
        }

        & span {
            color: #575757;
        }

    }

}

.board-filter-search {
    height: 28px;
    padding-left: 10px;
    border-radius: 4px;
    font-size: 1.142rem;
    border: 1px solid black;

    &:active,
    &:focus {
        border: 1px solid $active-objects-color;
    }
}