.header-editable-input {
    width: 80%;
    text-align: center;
    border: 1px solid lightgray;
}

.header-editable-container {
    display: flex;
    align-items: center;
    justify-content: center;
}