.home-control-component {
    background-color: #f6f7fb;
    height: 100vh;
    border-right: 1px solid #d5d8e7;
    box-shadow: 0px 0px 10px rgba($color: #000000, $alpha: 0.5);
    position: relative;
    width: 270px;
    transition: width .1s linear;

    & .control-nav-expend {
        background-color: $primary-background-color;
        border: 1px solid #d5d8e7;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        position: absolute;
        right: -13px;
        top: 1rem;
        z-index: 99;
        cursor: pointer;
        transform: rotateZ(-180deg);
        transition: transform 200ms ease-in-out;

    }

    &-closed {
        border-right: 1px solid #d5d8e7;
        box-shadow: unset;
        cursor: pointer;
        width: 29px;
        transform: rotateZ(0deg);
        transition: width 200ms ease-in-out;

        & .home-controller-content {
            display: none;
        }

        & .control-nav-expend {
            background-color: $primary-background-color;
            border: 1px solid #d5d8e7;
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            position: absolute;
            right: -13px;
            top: 1rem;
            transition: transform 200ms ease-in-out;
        }
    }
}

.home-controller-content {
    padding: 16px;
}

.home-control-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .home-control-title {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #878896;
    }

    & .ds-menu-button {
        width: 33px;
        width: 26px;
        height: 26px;
        border-radius: 4px;
        cursor: pointer;
        transition: .1s;

        &:hover {
            background-color: #dcdfec;
        }
    }
}

.home-control-sub-header {
    padding-bottom: 16px;
}

.home-control-button {
    all: unset;
    cursor: pointer;
    height: 34px;
    font-weight: 400;
    font-size: 1.142rem;
    width: 100%;
    border-radius: 4px;

    &:hover {
        background-color: #dcdfec;
    }

    & .home-control-button-span {
        padding: 0 6px;
    }
}

.divider {
    background-color: #d0d4e4;
    height: 1px;
}

.home-control-button-span {
    font-weight: 500;
}

.user-projects-main-container {
    margin-top: 16px;
}

.board-link {
    all: unset;
    width: 100%;
}