.board-content-wrapper:first-child {
    margin-top: 25px;
}

.board-content-wrapper {
    background-color: $primary-background-color;
    border-radius: 8px;
    color: $table-text-main-color;
    min-width: 1040px;
    margin-inline-end: 10px;

    & form {


        & input {
            width: 100%;
        }

        >* {
            height: 100%;
        }

        & button {
            height: inherit;
            // border-radius: 4px;
            background-color: #1976d2;
            color: #fff;
            padding: 0px 10px;
            position: absolute;
            right: 28px;

            &:hover {
                background-color: #1565c0;
            }

            & .task-arrow-div {
                width: 30px;
                height: 20px;
                flex-basis: 27px;
                color: white;
                text-align: center;
                margin: 5px;
                border-radius: 15%;

                &:hover {
                    color: black;
                    background-color: rgb(177, 173, 173);
                }
            }
        }
    }
}

.board-content-wrapper {
    background-color: #fff;
    border-radius: 8px;
}



.group-header-wrapper {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    width: 100%;
    margin-bottom: 50px;
    border: 0;
    vertical-align: baseline;
    justify-content: center;
    // font-size: 1.2rem;
}




.group-header-component {
    display: flex;
    justify-content: space-between;
    padding: 0 11px;
    min-width: 623px;
    margin-inline-end: 15px;
}

.group-header-title {
    display: flex;
    flex-basis: 400px;
    position: relative;
    padding-left: 5px;
    min-width: 400px;

    & input {
        width: 100%;
        height: 100%;
        padding: 2px;
        font-size: 18px;
        margin-bottom: 5px;
    }

    & h3:hover {
        border: 1px black dashed;
        padding: 5px
    }
}

.group-header-title>* {
    display: flex;
    align-items: center;
    justify-content: center;
}

.group-arrow-div {
    position: absolute;
    left: -30px;
    top: 12px;
    font-size: 1.15rem;
    width: 30px;
    cursor: pointer;
}

.group-header-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-basis: 623px;
}

.group-header-items>* {
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
}

.task-row-component {
    background-color: #f5f6f8;
    border-bottom: 1px solid lightgray;
    margin: 0px 20px;

    &:hover {
        background-color: #e6e9ef;
        cursor: pointer;

        .task-arrow-div {
            display: flex;
        }
    }
}

.task-row-items {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    flex-basis: 400px;
}


.task-row-items>* {
    width: 130px;
    margin: 0 5px;
}

.task-row-title {
    display: flex;
    justify-content: space-between;
}


.task-column-rows {
    width: 100%;
    flex: 1;

}

.task-row-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 500;
    width: 100%;

    & .task-main-menu-inner {
        top: 34px;
        left: -30px;
    }
}

.task-title-cell-component {
    display: flex;
    align-items: center;
    position: relative;
    flex: 3;
}

.task-title-cell {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding-inline-end: 10px;
}

.task-title-info {
    width: 100%;
}

.task-title-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.task-title-cell-component {
    &:hover {
        & .edit-button {
            display: block;
            margin-left: 8px;
            // margin-bottom: 5px;
            cursor: pointer;
            height: 24px;
            padding-left: 8px;
            padding-right: 8px;
            // padding-top: 2px;
            // padding-bottom:3px;
            border-radius: 4px;
            line-height: 22px;
            text-align: center;
            position: absolute;
            // left: 40px;
            top: 7px;

            &:hover {
                background-color: #f6f7fb;

            }
        }
    }

    & input {
        width: 200px;
        height: 24px;
        margin-left: 8px;
        padding: 2px;
        border: 1px solid rgb(171, 171, 171)
    }


}

.edit-button-container {
    display: flex;
    justify-self: flex-start;
    width: 80%;
}

.edit-button {
    display: none;
}


.status {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    color: whitesmoke;
    font-weight: 500;
    position: relative;
    overflow: hidden;
    transition: border-radius 0s;
}

.status:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border-width: 0px;
    border-style: solid;
    width: 0;
    border-color: #e6e9ef #e6e9ef rgba(255, 255, 255, 0.3) rgba(255, 255, 255, 0.3);
    transition: border-width .2s;
}

.status:hover:before {
    border-width: 5px;
    box-shadow: -5px 5px 10px -6px #000;
}

.flex-row-items {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    border-right: 1px solid rgb(255, 255, 255);
    border-left: 1px solid rgb(255, 255, 255);
}


.left-indicator-cell {
    width: 8px;
    height: 100%;
    min-height: 30px;
    background-color: rgb(17, 65, 222);
}

.task-title-cell {
    padding-left: 10px;
}

.task-arrow-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 30px;
    position: absolute;
    left: -30px;
}

.task-arrow-div {
    display: none;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background-color: #dcdfec;
    height: 18px;
    width: 18px;
    font-size: 15px;
}

.user-image-icon-assign {
    border-radius: 50%;
    border: 1px solid #fff;
    height: 30px;
    width: 30px;
    position: absolute;
    transform: translate(-50%);
}

.user-image-wrapper {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
}


.column-header {
    position: relative;

    .column-header-bottom {
        justify-content: center;
        width: 100%;

        .drag-handle-col {
            display: none;
        }
    }


    &:hover {
        background-color: #f5f6f8;

        .column-header-bottom {
            justify-content: space-between;
        }

        .drag-handle-col {
            display: block;
        }

        .hide-sort {
            display: block;
        }

        .col-arrow-container {
            display: block;
        }

        & .sort-header-menu {
            position: absolute;
            top: -25%;
            background-color: #ffffff;
            font-size: 1rem;
            padding: 2px;
            border-radius: 50%;
            box-shadow: 0px 0px 5px rgba($color: #000000, $alpha: 0.5);

            &:hover {
                background-color: #1976d2;
                color: #ffffff;
                cursor: pointer;
            }

            &:focus {
                background-color: #1976d2;
            }
        }
    }
}

.hide-sort {
    display: none;
}

.col-arrow-container {
    display: none;
    // float: right;
    // position: absolute;
    // right: 5px;
    border-radius: 4px;
    transition: .1s;
    cursor: pointer;

    &:hover {
        background-color: #e6e9ef;
    }
}

.column-header-title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;

    &:hover {
        background-color: unset;
        border-inline-end: 4px solid #f5f6f8;

        .drag-handle-group {
            display: block;
        }
    }

    & .sort-header-menu {
        position: absolute;
        right: 50%;
    }
}

.drag-handle-group {
    display: none;
    margin-inline-end: 5px;
}

.editable-column-header {
    padding: 3px;

    &:hover {
        border: 1px dashed rgb(168, 168, 168);
    }
}

.flex-row-items {
    & input {
        position: absolute;
        width: 130px;
        height: 100%;
        opacity: 0;
    }

    & input[type="date"]::-webkit-inner-spin-button,
    input[type="date"]::-webkit-calendar-picker-indicator {
        cursor: pointer;
        width: 100%;
        opacity: 0;
    }

}

// .flex-row-items:before{
//     content:
// }
.right-indicator-row {
    background-color: #d0d4e4;
    padding-bottom: 10px;
    border-bottom: 1px solid #dee1eb;
    position: absolute;
    right: -5px;
    width: 8px;
    height: 100%;
}

.add-colomn-column-button-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}

.add-colomn-column-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 50%;
    width: 15px;
    height: 15px;
   
    &:hover {
        color: #1976d2;
        border: 1px solid #1976d2;
    }
    & span{
        padding-bottom: 2px;
    }
}

.main-group-input {
    display: flex;
    position: relative;
    height: 35px;
    padding: 0 20px;
}

.group-input-indicator {
    opacity: 0.5;

    &:hover {
        opacity: 1;
    }
}

.right-indicator-input {
    background-color: #d0d4e4;
    padding-bottom: 10px;
    border-bottom: 1px solid #dee1eb;
    position: absolute;
    right: 20px;
    width: 8px;
    height: 100%;
}

.group-input {
    border-top: 1px solid #d0d4e4;
    border-inline-start: 1px solid #d0d4e4;
    border-inline-end: 1px solid #d0d4e4;
    border-bottom: 1px solid #d0d4e4;
    padding-left: 10px;
}

.title-update-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-inline-end: 10px;

    & .group-title-form {
        width: 70%;
    }
}

.col-text-container {
    background-color: #1976d2;
    display: flex;
    margin: 0;

    & .col-text-input {
        padding-inline-start: em(5px);

        &:focus {
            border: 1px solid #1976d2;
        }
    }
}

@media(max-width:1150px) {
    .group-main-container{
        width: 90vw;
        height: 100vh;
        overflow-x: scroll;
        padding-left: 15px;
    }
    .task-row-title{
        display: grid;
        grid-template-columns: 450px 1fr;
        justify-content:unset ;
    }
}

.activity-main-container {
    // background-color: aqua;
    position: relative;
}

.activities-icon {
    color: #d7d8de;
    font-size: 1.7rem;
    cursor: pointer;

    &:hover {
        color: #1976d2;
    }
}

.update-indication {
    position: absolute;
    top: 50%;
    right: -1px;
    background-color: #1976d2;
    color: #fff;
    font-size: 0.875rem;
    padding: 2px 4px;
    border-radius: 10px;

}
