.group-main-container {
    // background-color: bisque;
    // position:;
    box-sizing: content-box;
    padding-bottom: 40px;
    padding-top: 18px;
    font-size: 100%;
    border-radius: 8px;
    outline: none;
    width: 100%;
    position: relative;

    & .group {
        display: flex;
        flex-flow: column;

        & .head {
            height: 40px;
            display: flex;
            width: 100%;

            :first-child {
                flex-basis: 400px;
                // width: 400px;
            }

            :not(:first-child) {
                width: 140px;
                margin-left: 10px;
            }

            >* {
                position: relative;
            }

            & .group-arrow-div {
                flex-basis: 0px;

                & .group-arrow {
                    color: aqua;
                    width: 16px;
                    height: 16px;
                    cursor: pointer;

                    &:hover {
                        color: white;
                        background-color: aqua;
                        border-radius: 50%;
                    }
                }
            }
        }

        & .group-row {
            height: 40px;
            display: flex;
            width: 100%;
            background-color: #f5f6f8;




            :first-child {
                flex-basis: 400px;
            }

            :not(:first-child) {
                width: 140px;
            }

            >* {
                position: relative;
                border-bottom: 1px solid #e6e9ef;
            }

            :hover {
                background-color: #e6e9ef;
                cursor: pointer;
            }

            & .task-arrow-div {
                width: 10px;
                height: 20px;
                flex-basis: 27px;
                color: white;
                text-align: center;
                margin:5px;
                border-radius: 15%;

                &:hover {
                    color: black;
                    background-color: rgb(177, 173, 173);
                }
            }
        }
    }
}