.group-main-container {
    box-sizing: content-box;
    padding-bottom: 40px;
    padding-top: 18px;
    font-size: 100%;
    border-radius: 8px;
    outline: none;
    width: 100%;
    position: relative;

    & .group {
        display: flex;
        flex-flow: column;

        & .head {
            height: 40px;
            display: flex;
            width: 100%;
            align-items: center;

            :first-child {
                width: 30px;
            }

            :nth-child(2) {
                flex-basis: 400px;
                font-size: 18px;
                text-align: left;
            }

            :nth-child(n+3) {
                width: 140px;
                justify-content: center;
            }

            >* {
                position: relative;
                height: 100%;
                display: flex;
                align-items: center;
            }

            & .group-arrow-div {
                justify-content: center;

                & .group-arrow {
                    color: aqua;
                    width: 16px;
                    height: 16px;
                    cursor: pointer;

                    &:hover {
                        color: white;
                        background-color: aqua;
                        border-radius: 50%;
                    }
                }
            }
        }

        & .group-row:not(:last-child) {
            height: 40px;
            display: flex;
            width: 100%;
            background-color: #f5f6f8;
            text-decoration: unset;

            &:hover:not(:last-child) {
                background-color: #e6e9ef;
                cursor: pointer;
            }


            // :first-child {
            //     width: 30px;
            // }

            :nth-child(2) {
                flex-basis: 400px;
            }

            :nth-child(n+2):not(:last-child) {
                width: 140px;
                justify-content: center;
            }

            >*:not(:last-child) {
                position: relative;
                border-bottom: 1px solid #e6e9ef;
                height: 100%;
                display: flex;
                align-items: center;
            }

            & .status {
                color: whitesmoke;
                font-weight: 400;
                position: relative;
                overflow: hidden;
                transition: border-radius 0s;
            }

            & .status:before {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                border-width: 0px;
                border-style: solid;
                width: 0;
                border-color: #e6e9ef #e6e9ef rgba(255, 255, 255, 0.3) rgba(255, 255, 255, 0.3);
                transition: border-width .2s;
            }

            & .task-arrow-div {
                width: 30px;
                justify-content: center;
            }

            & .status:hover:before {
                border-width: 5px;
                box-shadow: -5px 5px 10px -6px #000;
            }
        }
    }

    & form {
        height: 35px;

        & input {
            width: 100%;
        }

        >* {
            height: 100%;
        }

        & button {
            height: inherit;
            border-radius: 4px;
            background-color: #1976d2;
            color: #fff;
            padding: 0px 10px;
            position: absolute;
            right: 0;

            &:hover {
                background-color: #1565c0;
            }

            & .task-arrow-div {
                width: 30px;
                height: 20px;
                flex-basis: 27px;
                color: white;
                text-align: center;
                margin: 5px;
                border-radius: 15%;

                &:hover {
                    color: black;
                    background-color: rgb(177, 173, 173);
                }
            }
        }
    }
}