.main-side-nav-container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 66px;
}

.side-nav-lower {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.side-nav-upper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-wrapper {
    margin: 5px 14px;
    border-radius: 7px;

    &:hover {
        background-color: $nav-hover-background-color;
    }
}

.surfice-divider {
    background-color: #44475f;
    width: 50px;
    height: 1px;
    margin-bottom: 10px;
}

.surface-workspace-icon-wrapper {
    background-color: #5a5e77;
    margin: 5px 14px;
    border-radius: 7px;
}

.product-switcher {
    margin: 5px 28px;
    border-radius: 7px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;

    & img {
        width: 35px;
    }

    &:hover {
        background-color: $nav-hover-background-color;
    }
}

.arrow-left {
    width: 0;
    height: 0;
    position: absolute;
    top: 70px;
    left: 48px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #f6f7fb;
    transform: rotateZ(-90deg)
}

.user-img {
    margin: 5px 27px 10px;
    border-radius: 50%;
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    & img {
        width: 32px;
        transition: .2s;

        &:hover {}
    }

    &:hover {
        background-color: $nav-hover-background-color;

        .user-logout-button {
            width: 30px;
        }
    }

    &:active {
        border: 1px solid white;
    }
}