.main-update-list-container {
    position: relative;
    height: 100%;
    // overflow: hidden;
    margin: em(55px) 0;
    border-radius: 8px;
    // border: 1px solid #e6e9ef;
}

.main-update-container {
    height: 84%;
    overflow-y: auto;
}

.side-panel-title {
    height: 100%;
}

.testimonials {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 15px;
}

.testimonial-heading {
    letter-spacing: 1px;
    margin: 30px 0;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    & h1 {
        font-size: 2.2rem;
        font-weight: 500;
        background-color: $clr1;
        color: $clr3;
        padding: 10px 20px;
    }

    & span {
        font-size: 1.3rem;
        color: $clr1;
        margin-bottom: 10px;
        letter-spacing: 2px;
        text-transform: uppercase;
    }
}

.testimonial-box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 95%;


    & .testimonial-box {
        width: 100%;
        height: 150px;
        background-color: #ffffff;
        border: 1px solid #e6e9ef;
        border-top: 2px solid #1976d2;
        border-radius: 8px;
        // padding: 10px 20px;
        color: #323338;
        // margin: 0 15px 0;
    }
}

.profile {
    display: flex;
    align-items: center;
    gap: 5px;
}

.name-user {
    display: flex;
    flex-direction: column;
}

.name-user strong {
    color: #323338;
    font-size: 1.1;
    letter-spacing: 0.5px;
}

.name-user span {
    font-size: 0.8rem;
    color: rgb(179, 179, 179);
    margin-top: 3px;
}

.updates {
    display: flex;
    justify-content: center;
}

.updates img {
    width: 15px;
}

.box-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
}

.client-comment {
    padding: 10px 15px;
    height: 70%;
}

.client-comment p {
    font-size: 0.9rem;
    line-height: 1.2rem;
    color: rgb(72, 72, 72);
}

.delete-update-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    transition: .2s;

    &:hover {
        background-color: #c7c7c7;

    }
}

.new-post-side-panel {
    height: 170px;
}

.update-message-action {
    display: flex;
    float: right;
}

.update-arrow {
    width: 22px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    padding: 3px;
    border-radius: 4px;
    cursor: pointer;
    transition: .1s;

    &:hover {
        background-color: $button-hover;
    }

    &:first-child {
        margin-inline-end: 5px;
    }
}