// Flex 
.flex {
    display: flex;
}

.align-items {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.flex-column {
    display: flex;
    flex-flow: column;
}

.inline-flex {
    display: inline-flex;
}

// List 
.clean-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

// Text 
.vertical-text {
    writing-mode: tb-rl;
    transform: rotate(-180deg);
}

.tag-text {
    color: $clr1;
    text-transform: uppercase;
    @include type(boldCondensed);
}

// Aspect ratios

.ratio-16-9 {
    @include aspect-ratio(100, 56);
}

.ratio-square {
    @include aspect-ratio(100, 100);
}

.ratio-card {
    @include aspect-ratio(100, 80);
}

.ratio-poster {
    @include aspect-ratio(100, 150);
}

.space-between {
    justify-content: space-between;
}