.group-sort-main-container {
    background-color: #ffffff;
    position: absolute;
    left: 425px;
    top: 175px;
    z-index: 100;
    border-radius: 7px;
    box-shadow: 1px 1px 5px rgba($color: #000000, $alpha: 0.2);
    z-index: 3006;
    width: 400px;
    height: 162px;
    padding: 20px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sort-by-content-header {
    height: 88px;
    margin-top: 16px;

    & select {
        height: 38px;
        width: 171px;
        border: 1px solid #d9dbe4;
        border-radius: 4px;
        padding-left: 12px;


        &:focus {
            border: 1px solid #4a6bff;
        }
    }

}

.sort-by-footer {}