.invite-member-task-wrapper {
    position: relative;
}

.invite-member-task-container {
    background-color: #ffffff;
    position: absolute;
    left: -170px;
    border-radius: 7px;
    box-shadow: 1px 1px 5px rgba($color: #000000, $alpha: 0.2);
    padding: 16px;
    z-index: 3010;
    width: 264px;
    // height: 181px;
    animation: open-assign-user-modal .3s;
}

@keyframes open-assign-user-modal {
    from {
        opacity: 0;
        transform: translateY(-5px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.invite-member-task-container {}

.invite-member-divider-modal {
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.divider-invite {
    height: 1px;
    width: 35%;
    background-color: #b4b4b4;
}

.assigned-to-task-members {
    padding: 10px 0;
}

.assigned-members {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & span {
        margin-inline-start: 5px;
    }

    & .assigned-users {
        width: 70%;
        padding: 5px 0px;
        border-radius: 4px;

        &:hover {
            background-color: $button-hover;
        }
    }
}

.remove-assigned-user-btn {
    padding: 2px;
    border-radius: 4px;
    transition: .1s;

    &:hover {
        background-color: $button-hover;
    }

    & button {
        font-size: 1.8rem;
    }
}