.rc-main-menu-inner {
    background-color: #ffffff;
    z-index: 3005;
    border-radius: 7px;
    box-shadow: 1px 1px 5px rgba($color: #000000, $alpha: 0.2);
    width: 264px;
    padding: 8px;
    position: relative;
}

.rc-menu-item {
    line-height: 24px;
}

.rc-content-wrapper {
    display: flex;
    gap: 10px;
    padding: 4px 8px;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 4px;
    font-weight: 400;

    &:hover {
        background-color: #dcdfec;
    }
}

.right-click-menu-board {
    width: 100%;
    position: absolute;
    padding-right: 16px;
}

.rc-main-menu-inner-board {
    background-color: #ffffff;
    z-index: 2000;
    border-radius: 7px;
    box-shadow: 1px 1px 5px rgba($color: #000000, $alpha: 0.2);
    width: 100%;
    padding: 8px;
}

.rc-content-wrapper-link {
    text-decoration: unset;
    color: unset;
}