$clr1: #ce2e6c;
$clr2: #323338;
$clr3: #574f7d;
$clr4: #95adbe;
$clr5: #dff0ea;
$clr6: #fff;
$clr7: #222;

$primary-background-color: #ffffff;
$secondary-background-color: #f6f7fb;
$nav-background-color: #292f4c;
$nav-hover-background-color: #10131e;
$divider-backgroud-color: #d0d4e4;
$placeholder-color: #6b6c6f;
$active-objects-color: #0073ea;
$table-text-main-color: #595959;
$active-button-background-color: #cce5ff;

// LAYOUT
$layoutPadding: 30px;

// LAYOUT BREAKPOINTS
$break-narrow: 1200px;
$break-normal: 1360px;
$break-wide: 1920px;

$padded-break-narrow: $break-narrow + $layoutPadding * 2;
$padded-break-normal: $break-normal + $layoutPadding * 2;
$padded-break-wide: $break-wide + $layoutPadding * 2;